.bm-invoice-button {
  background-color: var(--bm-orange) !important;
  border-color: var(--bm-orange) !important;
  color: white !important;
  border-radius: 0.25rem;
}

.bm-invoice-button:hover {
  filter: brightness(1.1); /* Slightly lighten on hover */
}
